
body{
  background-image: url(fondo.jpg);
  background-repeat: no-repeat;
  background-position: center bottom;
  overflow: scroll; 
  background-attachment: fixed;
}

h1{
  font-size: 120%;
  font-family: "Sofia", 'Times New Roman', Times, serif;
  font-style: oblique;
  color: darkred;
  background-color: yellow;
  text-align: center;
  text-transform: uppercase;
  text-shadow: 5px 5px 5px;
}

p{
  color: rgb(3, 143, 3);
  opacity: 80%;
  text-align: justify;
  text-indent: 2800px;
  border-top: dotted;
  border-bottom: dotted;
  border-width: medium;
  border-radius: 15px;
}

em{
color:#000080;
text-decoration: underline;
text-transform: capitalize
}

/* em{
  color: hsl(240, 100%, 30%);
} */

img{
  width: 40px;
  height: 40px;
  vertical-align: super;
}

a{
  text-decoration: double;
  border: solid;
  padding: 8px;
  border-radius: 20px;
  box-shadow: 2.5px 2.5px 2.5px rgb(59, 51, 51);
}
